.pagination-bar {
  display: flex;
  justify-content: center;
  margin: 60px auto;
  min-width: 80px;
  max-width: 20%;
}
.pagination-bar li {
  cursor: pointer;
  margin-left: 8px;
  -webkit-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.pagination-bar li:hover {
  background-color: darkgray;
}
.pagination-bar li:focus {
  background-color: inherit;
}
.pagination-bar li p {
  color: var(--main-color-dark);
  display: block;
  padding: 8px;
}
.active {
  background-color: darkgray;
}
