@import "../../App.css";

.img {
  height: 500px;
  width: 260px;
  margin: auto;
}
.hero {
  background-image: url(../../assets/5f9aba3f918b5.png);
  background-size: 90%;
  background-repeat: no-repeat;
  width: 90%;
  height: 450px;
  margin: auto;
}

.main-title {
  /* font-size: 36px; */
  font-size: clamp(5vh, 6rem, 10vw);
  max-width: 90%;
}
.sub-title {
  font-size: clamp(1.8vh, 1.2rem, 3vw);
  width: 80%;
  max-width: 480px;
}
.main-title,
.sub-title {
  color: var(--main-color-medium);
}
.main-title,
.sub-title,
.main-btn {
  text-align: center;
  margin: 44px auto;
}
.main-btn {
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 44px;
  border: none;
  background-color: var(--main-color-medium);
  color: white;
  border-radius: 12px;
  cursor: pointer;
}
.main-btn:hover {
  background-color: var(--main-color-dark);
}

@media screen and (min-width: 460px) {
  .hero {
    text-align: center;
  }
  .img {
    height: fit-content;
  }
}
@media screen and (min-width: 740px) {
  .flex-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
  }
  .subtitle-button {
    width: 50%;
  }
  .img {
    margin-left: 60px;
  }
}
@media screen and (min-width: 1140px) {
  .subtitle-button {
    margin-top: 50px;
  }
  .img {
    margin-left: 150px;
    width: 370px;
  }
  .hero {
    height: 500px;
  }
}
