@import "../../App.css";

.search-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 80px;
  width: 90%;
  justify-content: center;
  text-align: center;
  position: block;
}
.search-form {
  padding: 7px;
  margin: auto;
}
input {
  width: 100%;
  padding: 7px;
  border: 1px solid var(--main-color-medium);
  color: var(--main-color-dark);
  margin-bottom: 5px;
  border-radius: 12px;
}
input::placeholder {
  font-size: 12px;
  color: var(--main-color);
}
.search-btn {
  padding: 5px 5px 8px;
  border: none;
  background-color: var(--main-color-medium);
  color: white;
  border-radius: 12px;
  cursor: pointer;
}
.search-btn:hover {
  background-color: var(--main-color-dark);
}
.bx-search-alt-2 {
  padding-left: 8px;
  font-size: 16px;
}
.select {
  /* width: 150px; */
  border: 1px solid var(--main-color-medium);
  color: var(--main-color-dark);
  margin: 20px auto;
  padding: 6px;
  font-size: 14px;
  cursor: pointer;
}
.select::selection {
  display: none;
}
.results-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}
.results-container Link {
  display: flex;
  flex-direction: row;
}
.filtered-books {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 6px;
  align-items: center;
  display: inline-flex;
  font-size: 10px;
}

.filtered-books:hover {
  background-color: rgb(228, 228, 223);
}
.filtered-thumbnail {
  height: 42px;
  display: inline-block;
  padding: 2px 8px;
}
@media screen and (min-width: 460px) {
  .results-container {
    margin-left: 25px;
  }
}
@media screen and (min-width: 740px) {
  .search-container {
    flex-direction: row;
    margin: 60px auto;
    margin-bottom: 20px;
    width: auto;
  }
  .search-form {
    margin: 20px;
  }
  .search-btn {
    border-radius: 0%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .select {
    margin: 26px;
    height: 30px;
    padding: 5px;
  }
  input {
    width: 350px;
    border-radius: 0%;
  }
  .results-container {
    width: 40%;
    margin: auto;
    margin-bottom: 40px;
    justify-content: flex-start;
  }
  .filtered-books {
    font-size: 12px;
  }
}
