@import "../../App.css";
.nav {
  background: rgb(187, 187, 206);
  background-image: linear-gradient(rgb(165, 165, 189), rgb(252, 250, 250));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 0 10px;
}
.logo-container {
  justify-self: center;
  align-self: center;
  grid-column-start: 2;
}
.logo-container svg {
  width: 99px;
  height: 33px;
}
.burger-container {
  align-self: center;
  grid-column-start: 1;
  position: relative;
}
.burger {
  width: 35px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
}
.links {
  display: none;
}
.cart-nav {
  justify-self: end;
  align-self: center;
  position: relative;
  cursor: pointer;

  color: var(--main-color);
}
.cart-nav .bx {
  border-radius: 50%;
  background-color: var(--main-color-medium);
  padding: 4px;
}
.cart-nav .bx:hover {
  background-color: var(--main-color-dark);
}
.counter {
  font-size: 12px;
  position: absolute;
  background-color: #fff;
  padding: 2px 5px;
  border-radius: 50%;
  color: var(--main-color-medium);
  top: -8px;
  right: -5px;
  font-weight: 700;
}

@media screen and (min-width: 460px) {
  .logo-container svg {
    width: 120px;
    height: 40px;
  }
  .burger-container {
    margin-left: 15px;
  }
  .cart-nav {
    margin-right: 15px;
  }
}

@media screen and (min-width: 740px) {
  .nav {
    grid-template-columns: repeat(3, 1fr);
  }
  .logo-container svg {
    width: 180px;
    height: 60px;
  }
  .links {
    /* padding-right: 50px; */
    justify-self: center;
    padding-left: 40px;
    align-self: center;
    display: grid;
    grid-auto-flow: column;
    grid-column-start: 2;
    font-size: 1rem;
    column-gap: 60px;
  }
  .links li a {
    color: var(--main-color-medium);
    font-size: 18px;
    letter-spacing: 0.15em;
    position: relative;
  }
  .links li a:hover {
    color: var(--main-color-dark);
  }
  .links li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--main-color-medium);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .links li a:hover:after {
    width: 100%;
    left: 0;
  }
  .burger-container {
    display: none;
  }
  .logo-container {
    grid-column-start: 1;
  }
  .cart-nav {
    justify-self: center;
    grid-column-start: 3;
  }
}
