@import "../../App.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Encode Sans Expanded", sans-serif;
  list-style-type: none;
  text-decoration: none;
}
.nav {
  background: rgb(187, 187, 206);
  background-image: linear-gradient(rgb(165, 165, 189), rgb(252, 250, 250));
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-height: 80px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
.logo {
  padding: 4px 4px 3px 5px;
  background-color: #551a8b;
  color: #bbbbce;
  grid-column-start: 2;
  align-self: center;
  justify-self: center;
  border-radius: 25px;
}
.p-logo {
  font-size: 12px;
  letter-spacing: 10px;
  transform: translate(3px, -2px);
}
.burger-container {
  align-self: center;
  grid-column-start: 11;
}
.burger {
  width: 35px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
}
.links {
  display: none;
}

@media screen and (min-width: 740px) {
  .links {
    padding-right: 8vw;
    padding-left: 20px;
    align-self: center;
    display: grid;
    grid-auto-flow: column;
    grid-column-start: 11;
    font-size: 1rem;
    column-gap: 60px;
  }
  .links li a {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.15em;
    position: relative;
  }
  .links li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #551a8b;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .links li a:hover:after {
    width: 100%;
    left: 0;
  }
  .burger-container {
    display: none;
  }
  .logo {
    padding: 8px 8px 6px 10px;
  }
} ;
