* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Encode Sans Expanded", sans-serif;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}

:root {
  --main-color-dark: rgb(85, 26, 139);
  --main-color-medium: rgb(112, 73, 148);
  --main-color: rgb(209, 196, 233);
}
