.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 12;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* z-index: 1000; */
  background-color: rgba(7, 7, 7, 0.3);
}
.modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  /* margin-top: 220px; */
  /* min-height: 30%; */
  position: relative;
  max-height: 80%;
  height: fit-content;

  width: fit-content;
  max-width: 90%;
  background-color: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  z-index: 1;
  padding: 20px;
}
.img-modal-container {
  display: block;
  padding-right: 20px;
  float: left;
  /* height: 150px; */
}
.img-modal-container img {
  height: 150px;
}
.title-modal {
  margin-bottom: 5px;
  text-align: center;
  font-size: clamp(1.8vh, 1.4rem, 3vw);
}
.author-modal {
  margin-bottom: 20px;
  text-align: center;
  font-size: clamp(1.5vh, 1rem, 2vw);
}
.details-title-modal {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: clamp(1.6vh, 1.2rem, 2.4vw);
}
.details-modal {
  line-height: 1.5;
  font-size: clamp(1.4vh, 1rem, 2vw);
}
.close-modal {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -14px;
  right: -14px;
  display: unset;
  box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.15);
  overflow: auto;
  cursor: pointer;
}
@media screen and (min-width: 1140px) {
  .modal-box {
    width: 50%;
  }
}
